<div class="card" style="margin-top: 50px;">
    <header class="card-header">
      <p class="card-header-title">
        Sign in to use this site
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        <p>This site will allow you to:</p>
        <ul>
            <li>Link your Discord account (access non-public channels)</li>
            <li>Download members-only files</li>
            <li>Submit attendance at meetings</li>
            <li>Join the mailing list (if you aren't already on it)</li>
        </ul>
        <p>OSU Students, faculty, and alumni can click the button below to login</p>
        <a class="button" href="{% url 'login' %}">Login with OSU</a>
      </div>
    </div>
</div>