POSTGRES_USER=user
POSTGRES_PASS=pass
POSTGRES_DB=mydb
POSTGRES_HOST=localhost
DJANGO_SECRET=put_ur_secret_here
DJANGO_DEBUG=True
MAILCHIMP_API_KEY=key
MAILCHIMP_LIST_ID=42
JWT_SECRET1=some_secret
JWT_SECRET2=some_secret2